<!DOCTYPE html>
<html lang="he">
  <head>
    <meta charset="UTF-8" />
    <title>דף עזרה - Little Linguist</title>
    <link rel="stylesheet" href="help-game.component.css" />
  </head>
  <body>
    <header>
      <h1>דף עזרה ל-Little Linguist</h1>
    </header>
    <main>
      <section id="introduction">
        <h2>הקדמה</h2>
        <p>
          זהו מקום למציאת מידע וטיפים על איך להשתמש באפליקציה. בין אם אתה מנסה
          להבין כיצד לנהל את קטגוריות המילים שלך או לחפש טיפים לשיפור הציונים
          שלך במשחקים, זה המקום בשבילך. Little Linguist היא אפליקציה ללמידת
          אנגלית המשלבת תרגול ומשחקים אינטראקטיביים. האפליקציה מחולקת לשני מצבים
          עיקריים: מצב ניהול ומצב משחק.
        </p>
      </section>

      <section id="management-screens">
        <h2>מסכי ניהול</h2>
        <p>
          במצב ניהול, משתמשים יכולים לנהל את קטגוריות המילים שלהם. זה כולל טבלת
          קטגוריות: מסך זה מציג רשימה של כל הקטגוריות הזמינות, כמו "חיות",
          "צבעים", ו"מספרים". משתמשים יכולים לערוך או למחוק קטגוריות קיימות, או
          להוסיף חדשות. הוספה ועריכת קטגוריה: בעת לחיצה על קטגוריה או יצירת אחת
          חדשה, משתמשים יוכלו לציין שם לקטגוריה ולהוסיף מבחר מילים ללימוד.
        </p>
      </section>

      <section id="game-screens">
        <h2>מסכי המשחק</h2>
        <p>
          מצב משחק במצב המשחק, משתמשים יכולים לבחור קטגוריות של מילים וללמוד
          אותן דרך מגוון משחקים: בחירת קטגוריה: מסך זה מציג באופן ויזואלי את כל
          הקטגוריות הזמינות. בלחיצה על קטגוריה, משתמשים מועברים לבחירת משחק
          לתרגול המילים מהקטגוריה הנבחרת. משחקי למידה: האפליקציה מציעה מגוון
          משחקים ללמידת מילים, כולל: משחק התאמת מילים: משחק בו המטרה היא להתאים
          בין מילים לתרגומים המתאימים שלהן. משחק מילים מבולגנות: משחק בו משתמשים
          צריכים לסדר את האותיות של מילה מסוימת לסדר הנכון. ומשחקים נוספים
          הכוללים תרגום מילים ומשחק טריוויה.
        </p>
      </section>

      <section id="troubleshooting">
        <h2>פתרון בעיות</h2>
        <p>נתקלת בבעיה? כאן תוכל למצוא פתרונות לבעיות נפוצות.</p>
      </section>

      <section id="feedback">
        <h2>משוב</h2>
        <p>אנחנו רוצים לשמוע ממך! למד כיצד לשלוח משוב על האפליקציה.</p>
      </section>

      <section id="faq">
        <h2>שאלות נפוצות</h2>
      </section>
    </main>
  </body>
</html>
