<mat-icon class="exit" (click)="exit()">exit_to_app</mat-icon>
<h1>Matching Game -{{ category?.name }}</h1>
<div *ngIf="!endGame" class="error-word">
  <div class="timer-container" style="justify-content: flex-end">
    <mat-icon>alarm</mat-icon>
    <app-timer
      [duration]="gameDuration"
      (timeUp)="handleTimeUp()"
      (reportTimeLeft)="handleTimeLeftReport($event)"
    >
    </app-timer>
  </div>
  <div *ngIf="errorWords">
    <p>{{ errorWords }}</p>
  </div>
  <div class="matching-game" *ngIf="!errorWords">
    <div>
      <app-display-word
        [word]="word.origin"
        [wordStatus]="wordStatusOrigin[index]"
        (click)="selectOriginWord(index)"
        *ngFor="let word of wordsToDisplay; let index = index"
      ></app-display-word>
    </div>
    <div>
      <app-display-word
        [word]="word.target"
        [wordStatus]="wordStatusTarget[index]"
        (click)="selectTargetWord(index)"
        *ngFor="let word of wordsToDisplayTarget; let index = index"
      ></app-display-word>
    </div>
  </div>
</div>
<div *ngIf="endGame">
  <h1>{{ category?.name }} results</h1>
  <div class="game-details">
    <p>Points: {{ gamePoints }}</p>
    <p>Attempts: {{ tryCount }}</p>
    <p>Grade: {{ getScore() }}%</p>
  </div>
  <table mat-table [dataSource]="wordsToDisplay" class="mat-elevation-z8">
    <ng-container matColumnDef="OriginWord">
      <th mat-header-cell *matHeaderCellDef>origin word</th>
      <td mat-cell *matCellDef="let element">{{ element.origin }}</td>
    </ng-container>

    <ng-container matColumnDef="TargetWord">
      <th mat-header-cell *matHeaderCellDef>target word</th>
      <td mat-cell *matCellDef="let element">{{ element.target }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <button mat-raised-button color="primary" (click)="startNewGame()">
    New Game
  </button>
</div>
