.cards {
  width: 130px;
  min-height: 130px;
  margin: 8px;
  display: flex;
}

.matching-game {
  display: flex;
  justify-content: space-around;
}
.error-word {
  display: flex;
  flex-direction: column;
  text-align: center;
}
h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2em;
  color: #333;
}
.exit {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  margin-bottom: 10px;
}

.exit:hover {
  color: #f00;
}
.end-game-details {
  text-align: center;
  margin: 20px 0;
}

.end-game-details p {
  font-size: 1.5em;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
}
.game-details {
  text-align: center;
  width: 100%;
}

h1,
.game-details p {
  margin: 10px 0;
}
