.cards {
  width: 130px;
  min-height: 130px;
  margin: 8px;
  display: flex;
}

.matching-game {
  display: flex;
  justify-content: space-around;
}
.error-word {
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2em;
  color: #333;
}
.exit {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  margin-bottom: 10px;
}

.exit:hover {
  color: #f00;
}
