<h1>You're learning:</h1>
<div class="dashboard">
  <mat-card class="cards">
    <mat-card-content>
      <p>
        {{ gamePlayerList.length }}
        <br />
        Games
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="cards">
    <mat-card-content>
      <p>
        {{ totalNumOfPoints }}
        <br />
        Points
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="cards">
    <mat-card-content>
      <p>
        {{ numberOfLearnedCategories }}
        <br />
        Learned Categories
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="cards">
    <mat-card-content>
      <p>
        {{ numberOfUnlearnedCategories }}
        <br />
        Unlearned Categories
      </p>
    </mat-card-content>
  </mat-card>
</div>
