<h1>You're learning:</h1>
<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="dashboard" *ngIf="!isLoading">
  <mat-card class="cards">
    <mat-card-content>
      <p>
        Games
        <br /><br />
        {{ gamePlayerList.length }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="cards">
    <mat-card-content>
      <p>
        Points
        <br /><br />
        {{ totalNumOfPoints }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="cards">
    <mat-card-content>
      <p>
        Learned Categories
        <br /><br />
        {{ numberOfLearnedCategories }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="cards">
    <mat-card-content>
      <p>
        Unlearned Categories
        <br /><br />
        {{ numberOfUnlearnedCategories }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="cards">
    <mat-card-content>
      <p>
        Total Playtime Per Secend
        <br /><br />
        {{ totalPlayedTime | number:'1.0-2' }} Secend
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="cards">
    <mat-card-content>
      <p>
        Average Game Time Per Secend
        <br /><br />
        {{ averageGameTime | number:'1.0-2' }} Secend
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="cards">
    <mat-card-content>
      <p>
        Games Finished On Time
        <br /><br />
        {{ gamesFinishedOnTimePercent | number:'1.0-0' }}%
      </p>
    </mat-card-content>
  </mat-card>
</div>
