.r {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.r h1 {
  margin-bottom: 20px;
  color: #333;
}

.r .mix-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.r .mix-game span,
.r .mix-game input {
  font-size: 24px;
  margin: 5px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container label {
  font-weight: bold;
  margin-right: 10px;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.end-game-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

.end-game-container h1,
.end-game-container p {
  color: #333;
}

.end-game-container ul {
  list-style-type: none;
  padding: 0;
}

.end-game-container li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.end-game-container li span {
  flex: 1;
  margin-right: 10px;
  font-size: 18px;
}

.end-game-container button,
.button-row button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.exit-container {
  display: flex;
  justify-content: flex-start; 
}
.exit {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  margin-bottom: 10px;
}

.exit:hover {
  color: #f00;
}

.progress-container {
  width: 80%; 
  background-color: #f9f9f9; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 20px auto; 
  position: relative; 
}

.progress-bar {
  position: relative; 
  height: 20px; 
  background-color: #ddd; 
  border-radius: 8px;
  overflow: hidden; 
}

.progress-text {
  position: absolute;
  width: 100%;
  text-align: center; 
  line-height: 20px; 
  color: white; 
  font-weight: bold; 
}

.start-new-game-btn {
  display: block;       
  margin: 20px auto;    
  padding: 10px 20px;   
  font-size: 16px;
  cursor: pointer;      
  border-radius: 4px;   
  background-color: #007BFF; 
  color: white;         
  border: none;         
}

.start-new-game-btn:hover {
  background-color: #0056b3; 
}


