<div *ngIf="!endGame && words">
  <mat-icon class="exit" (click)="exit()">exit_to_app</mat-icon>
  <form #mixGameForm="ngForm" (ngSubmit)="submit()">
    <div>
      <div class="r">
        <h1>Mixed Letters - {{ category?.['name'] }}</h1>
        <div class="mix-game">
          <span>{{ words[index]["target"] }}</span>
          <span>{{ mixWord }}</span>
          <mat-form-field>
            <mat-label>Guess:</mat-label>
            <input
              matInput
              [(ngModel)]="words[index]['guess']"
              name="guess"
              #guessField="ngModel"
              required
            />
          </mat-form-field>

          <div class="button-row">
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="reset()"
            >
              Reset
            </button>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="mixGameForm.invalid || mixGameForm.pristine"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br />
  <div class="progress-container">
    <div class="progress-bar">
      <mat-progress-bar
        mode="determinate"
        [value]="calculateProgress()"
      ></mat-progress-bar>
      <div class="progress-text">
        {{ calculateProgress() | number : "1.0-0" }}%
      </div>
    </div>
  </div>
</div>
<div *ngIf="endGame" class="end-game-container">
  <div class="exit-container">
    <mat-icon class="exit" (click)="exit()">exit_to_app</mat-icon>
  </div>
  <h1 class="game-title">Mixed Letters - {{ category?.['name'] }} - Results</h1>
  <p class="game-info">Points: {{ gamePoints }}</p>
  <p class="game-info">Amount of attempts: {{ tryCount }}</p>
  <ul class="word-list">
    <li *ngFor="let word of words; let i = index" class="word-item">
      <span class="word-origin">{{ word["origin"] }}</span>
      <span class="word-guess">{{ word["guess"] }}</span>
      <mat-icon *ngIf="word['guess'] === word['origin']" class="check-icon"
        >check</mat-icon
      >
      <mat-icon *ngIf="word['guess'] !== word['origin']" class="close-icon"
        >close</mat-icon
      >
    </li>
  </ul>
  <button
    mat-raised-button
    color="primary"
    (click)="startNewGame()"
    class="start-new-game-btn"
  >
    Start New Game
  </button>
</div>
