h1 {
  text-align: center;
}
.mix-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.mix-game span {
  margin: 5px;
  font-size: 24px;
}

.mix-game input {
  width: 200px;
}

.results {
  margin-top: 20px;
}

.results p {
  margin-bottom: 10px;
}

.results ul {
  list-style-type: none;
  padding: 0;
}

.results li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.results li span {
  margin-right: 10px;
}

.results mat-icon {
  margin-right: 5px;
  font-size: 24px;
  color: green;
}

.results mat-icon.close {
  color: red;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px; 
  margin-top: 10px;
}
li>span {
  margin: 2px;
}
